/* 代码块 */
.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace !important;
  font-size: 13px !important;
  padding: 18px 24px !important;
  background-color: #fafafa !important;
  border: solid 1px #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}
