@import "./reset.scss";

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}
.mb100 {
  margin-bottom: 100px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.bold {
  font-weight: bold;
}

h2,
h3 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial,
    noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji,
    sans-serif;
}

h3 {
  margin-top: 30px;
}

/*进度条 satrt*/
#nprogress .bar {
  height: 4px;
  background: #27c4f5 linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5) !important;
  background-size: 500%;
  animation: 2s linear infinite barprogress, 0.3s fadein;
  width: 100%;
}

@keyframes barprogress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}

#nprogress .spinner-icon {
  border-top-color: transparent;
  border-left-color: transparent;
}
/*进度条 end*/

/*实例中的table*/
.example-table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  color: #5e6d82;
  font-size: 14px;
  margin-bottom: 45px;
  border: 1px solid #eaeefb;

  thead {
    background-color: #f7f7f7;
    tr {
      height: 25px;
    }
  }

  tbody {
    tr {
      height: 25px;
    }
    td > code {
      display: inline-block;
      background: #f7f7f7;
      font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
      margin: 0 3px;
      padding: 1px 5px;
      border-radius: 3px;
      color: #666;
      border: 1px solid #eee;
    }
  }

  th {
    text-align: left;
    border-top: 1px solid #eaeefb;
    white-space: nowrap;
  }

  td,
  th {
    text-align: left;
    border-bottom: 1px solid #eaeefb;
    padding: 10px;
    max-width: 250px;
  }

  td:first-child,
  th:first-child {
    padding-left: 10px;
  }

  strong {
    font-weight: 400;
  }
}

.button-demo {
  color: #fff;
  background-color: #409eff;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #409eff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 20px !important;
  font-size: 14px;
  border-radius: 3px;

  &:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
  }
  &:active {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
}

/*展示实例 end*/
