@charset "UTF-8";

/*设置尺寸 start*/
.v-dropdown--large .v-dropdown-selected,
.v-dropdown--large .v-dropdown-items-li{
    font-size:16px;
    height:40px;
    line-height: 40px;
}
.v-dropdown--large .v-dropdown-selected-i{
    line-height:40px !important;
}
.v-dropdown--large .v-dropdown-selected{
    /* width:120px;*/
}
.v-dropdown--large .v-dropdown-items{
    /*   min-width: 120px;*/
}


.v-dropdown--middle .v-dropdown-selected,
.v-dropdown--middle .v-dropdown-items-li{
    font-size:14px;
    height:32px;
    line-height: 32px;
}
.v-dropdown--middle .v-dropdown-selected-i{
    line-height:32px !important;
}
.v-dropdown--middle .v-dropdown-selected{
    /*   width:100px;*/
}
.v-dropdown--middle .v-dropdown-items{
    /* min-width: 100px;*/
}


.v-dropdown--small .v-dropdown-selected,
.v-dropdown--small .v-dropdown-items-li{
    font-size:13px;
    height:24px;
    line-height: 24px;
}
.v-dropdown--small .v-dropdown-selected-i{
    line-height:24px !important;
}
.v-dropdown--small .v-dropdown-selected{
    /*    width:90px;*/
}
.v-dropdown--small .v-dropdown-items{
    /*    min-width: 90px;*/
}
/*设置尺寸 end*/

.v-dropdown{
    display: inline-table;
    margin: 0;
}

.v-dropdown-dd,.v-dropdown-dt{
    z-index: 9999;
}

.v-dropdown-dd,.v-dropdown-dt,.v-dropdown-items {
    margin:0px;
    padding:0px;
    background-color: #fff;
}

.v-dropdown-items{
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:normal;
    white-space: nowrap;
}

.v-dropdown a, .v-dropdown a:visited {
    color:#000;
    text-decoration:none;
    outline:none;
}

.v-dropdown-selected {
    position: relative;
    display:block;
    border:1px solid #c8cdd4;
    border-radius: 2px;
}

.v-dropdown-selected:hover {
    color:#0092dd;
    border-color:#0092dd;
}

.v-dropdown-selected-span {
    width: 80%;
    display:block !important;/*修复会被别的样式覆盖的问题*/
    text-align: center;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2px;
}

.v-dropdown-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    /*    border-radius: 4px;*/
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    /* height: 36px;*/
    line-height: 1;
    outline: none;
    padding-left: 2px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 80%;
    text-align: left;

}

.v-dropdown-selected-i{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    font-size: 120%;
}

.v-dropdown-dd {
    position:absolute !important;
    z-index:9999999;
}

.v-dropdown-items {
    /*position:absolute;*/
    position:fixed;
    top:2px;
    left:0px;
    list-style:none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
    border:1px solid #d1dbe5;
    color:#C5C0B0;

    padding:5px 0px;
    width:auto;
}

.v-dropdown-items-li{
    white-space: nowrap;
}

.v-dropdown-items-li.active{
    background-color:#0092dd;
}

.v-dropdown-items-li.active a{
    color:#fff;
}

.v-dropdown-items-li-a {
    width: 100%;
    display:block;
    padding-left: 8px;
    padding-right: 8px;
}

.v-dropdown-items-li-a-left{
    text-align: left;

}

.v-dropdown-items-li-a-center{
    text-align: center;
}

.v-dropdown-items-li-a-right{
    text-align: right;
}

.v-dropdown-items-li:hover {
    background-color: #e4e8f1;
    color:#fff;
}

.v-dropdown-items-li.active:hover{
    background-color:#0092dd;
}
/*------------分割线----------*/

.v-dropdown-items-multiple{
    display: table;
    width: 100%;
    padding: 5px;
}

.v-dropdown-items-multiple span{
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
}

.v-dropdown-items-multiple:hover{
    background-color: #e6f7ff;
}


/*操作功能开始*/
.v-dropdown-operation {
    padding:8px 0 3px 0;
    font-size: 14px;
    border-top: 1px solid #e8e8e8;
}

.v-dropdown-operation-item {
    padding: 0 8px;
    color:#495060;
}

.v-dropdown-operation-item:last-child{
    float: right;
}

.v-dropdown-operation-item:hover{
    color: #1890ff;
}
/*操作功能结束*/