*, :after, :before {
    box-sizing: border-box;
}

.et-page--large .et-page-total,
.et-page--large .et-page-li,
.et-page--large .et-page-select,
.et-page--large .et-page-goto,
.et-page--large .et-page-goto .et-page-goto-input{
    font-size:16px;
    height:40px;
    line-height: 40px;
}
.et-page--large .et-page-li{
    min-width: 40px;
}
.et-page--large .et-page-li i{
    font-size:120%;
}


.et-page--middle .et-page-total,
.et-page--middle .et-page-li,
.et-page--middle .et-page-select,
.et-page--middle .et-page-goto,
.et-page--middle .et-page-goto .et-page-goto-input{
    font-size:14px;
    height:32px;
    line-height: 32px;
}
.et-page--middle .et-page-li{
    min-width: 32px;
}
.et-page--middle .et-page-li i{
    font-size:120%;
}


.et-page--small .et-page-total,
.et-page--small .et-page-li,
.et-page--small .et-page-select,
.et-page--small .et-page-goto,
.et-page--small .et-page-goto .et-page-goto-input{
    font-size:12px;
    height:24px;
    line-height: 24px;
}

.et-page--small .et-page-li{
    min-width: 24px;
}
.et-page--small .et-page-li i{
    font-size:120%;
}


.et-page-ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 4px;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.et-page-total {
    float: left;
    display: inline-block;
    margin: 0 4px;
}

.et-page-select{
    float: left;
    margin: 0 4px;
}

.et-page-li{
    float: left;
    margin-right: 4px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    text-align: center;
    list-style: none;
    background-color: #fff;
    border: 1px solid #c8cdd4;
    border-radius: 4px;
}

.et-page-li:hover{
    color:#0092dd;
    border-color: #0092dd;
}

.et-page-li-active{
    color:#fff;
    border-color: #0092dd;
    background-color:#0092dd;
}

.et-page-li-active:hover{
    color:#fff;
    border-color: #0092dd;
    background-color:#0092dd;
}

.et-page-prev,.et-page-next{
    color:#666;
}

.et-page-jump-prev:after,.et-page-jump-next:after{
    content: "•••";
    display: block;
    letter-spacing: 1px;
    color:#666;
    text-align: center;
}

.et-page-jump-prev i,.et-page-jump-prev:hover:after,.et-page-jump-next i,.et-page-jump-next:hover:after{
    display: none;
}

.et-page-jump-prev:hover i,.et-page-jump-next:hover i {
    display: inline;
    color:#0092dd;
}


.et-page-select {
    display: inline-block;
    margin: 0 4px;
}

.et-page-pager{
    float: left;
}

.et-page-goto {
 /*   height:32px;
    line-height: 32px;*/
    float: left;
    display: inline-block;
    margin: 0 4px;
}

.et-page-goto-input{
/*    height: 32px;
    line-height: 32px;*/
  /*  font-size: 14px;*/

    padding: 1px 7px;
    display: inline-block;
    border: 1px solid #d7dde4;
    background-color: #fff;
    background-image: none;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
    border-radius: 4px;
    width: 50px;
}

.et-page-goto-input:hover{
    border-color: #0092dd;
}

.et-page-disabled{
    cursor: not-allowed;
    border-color: #d7dde4;
}

.et-page-disabled a {
    color: #ccc;
}

.et-page-disabled:hover {
    border-color: #d7dde4
}

.et-page-disabled:hover a {
    color: #ccc;
    cursor: not-allowed
}