*, :after, :before {
    box-sizing: border-box;
}

.et-page-ul {
    margin: 0;
    padding: 0;
    height:32px;
    display: inline-block;
    margin: 0 4px;
    list-style-type: none;

    font-size:14px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

}

.et-page-total {
    float: left;
    display: inline-block;
    margin: 0 4px;
    line-height: 32px;

}

.et-page-select{
    float: left;
    margin: 0 4px;
    height:32px;
    line-height: 32px;
}

.et-page-li{
    float: left;
    margin-right: 4px;
    min-width: 32px;
    line-height: 32px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    text-align: center;

    list-style: none;

    background-color: #fff;
    border: 1px solid #d7dde4;
    border-radius: 4px;
}

.et-page-li:hover{
    color:#333;
    border-color: #0092dd;
}

.et-page-li-active{
    color:#333;
    border-color: #0092dd;
}

.et-page-prev,.et-page-next{
    font-size:16px;
    color:#666;
}

.et-page-jump-prev:after,.et-page-jump-next:after{
    content: "•••";
    display: block;
    letter-spacing: 1px;
    color:#666;
    text-align: center;
}

.et-page-jump-prev i,.et-page-jump-prev:hover:after,.et-page-jump-next i,.et-page-jump-next:hover:after{
    display: none;
}

.et-page-jump-prev:hover i,.et-page-jump-next:hover i {
    display: inline;
    color:#0092dd;
}


.et-page-select {
    display: inline-block;
    margin: 0 4px;

}

.et-page-pager{
    float: left;
}

.et-page-goto {
    float: left;
    display: inline-block;
    margin: 0 4px;
    line-height: 32px;
}

.et-page-goto-input{
    padding: 1px 7px;
    height: 24px;
    border-radius: 3px;
    display: inline-block;
    height: 32px;
    line-height: 1.5;
    font-size: 12px;
    border: 1px solid #d7dde4;
    background-color: #fff;
    background-image: none;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
    border-radius: 4px;
    width: 50px;
}

.et-page-goto-input:hover{
    border-color: #0092dd;
}

.et-page-disabled{
    cursor: not-allowed;
}

.et-page-disabled a {
    color: #ccc
}

.et-page-disabled:hover {
    border-color: #d7dde4
}

.et-page-disabled:hover a {
    color: #ccc;
    cursor: not-allowed
}