.et-select--large .et-select-selected,
.et-select--large .et-select-items-li{
    font-size:16px;
    height:40px;
    line-height: 40px;
}
.et-select--large .et-select-selected-i{
    line-height:40px !important;
}
.et-select--large .et-select-selected{
    width:115px;
}
.et-select--large .et-select-items{
    min-width: 115px;
}


.et-select--middle .et-select-selected,
.et-select--middle .et-select-items-li{
    font-size:14px;
    height:32px;
    line-height: 32px;
}
.et-select--middle .et-select-selected-i{
    line-height:32px !important;
}
.et-select--middle .et-select-selected{
    width:95px;
}
.et-select--middle .et-select-items{
    min-width: 95px;
}


.et-select--small .et-select-selected,
.et-select--small .et-select-items-li{
    font-size:12px;
    height:24px;
    line-height: 24px;
}
.et-select--small .et-select-selected-i{
    line-height:24px !important;
}
.et-select--small .et-select-selected{
    width:85px;
}
.et-select--small .et-select-items{
    min-width: 85px;
}

.et-select{
    display: inline-block;
}

.et-select-dd,.et-select-dt{
    z-index: 9999;
}

.et-select-dd,.et-select-dt,.et-select-items {
    margin:0px;
    padding:0px;
    background-color: #fff;
}


.et-select a, .et-select a:visited {
    color:#000;
    text-decoration:none;
    outline:none;
}

.et-select-selected {
    position: relative;
    display:block;
    border:1px solid #c8cdd4;
    border-radius: 2px;
}

.et-select-selected:hover {
    color:#0092dd;
    border-color:#0092dd;
}

.et-select-selected-span {
    width: 80%;
    display:block;
    text-align: center;
    cursor:pointer;
}

.et-select-selected-i{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    font-size: 120%;
}

.et-select-dd {
    position:relative;
}

.et-select-items {
    position:absolute;
    top:2px;
    left:0px;
    list-style:none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
    border:1px solid #d1dbe5;
    color:#C5C0B0;

    padding:5px 0px;
    width:auto;
}

.et-select-items-li.active{
    background-color:#0092dd;
}

.et-select-items-li.active a{
    color:#fff;
}

.et-select-items-li a {
    width: 80%;
    text-align: center;
    display:block;
}

.et-select-items-li:hover {
    background-color:#e4e8f1;
    color:#fff;
}

.et-select-items-li.active:hover{
    background-color:#0092dd;
}
