@charset "UTF-8";

*,*:before,*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.et-views {
    position: relative;
    overflow: hidden;
    border:1px solid rgba(221, 221, 221, 1);
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.et-leftview, .et-rightview {
    position: absolute;
    overflow: hidden;
    top: 0px;
}

.et-leftview {
    left: 0px;
}

.et-header {
    overflow: hidden;
    cursor: default;
}

.et-header {
    background-position: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

.et-header, .et-toolbar, .et-pager, .et-footer-inner {
    border-color: rgba(221, 221, 221, 1);
}

.et-header-inner {
    float: left;
    width: 10000px;
}

.et-htable, .et-btable, .et-ftable {
    border-collapse: separate;
}

/*.et-btable tr:nth-child(even) {
    background:#f4f4f4;
}*/

.et-header-row, .et-row {
    height: 25px;
}

.et-header td, .et-body td, .et-footer td {
    margin: 0;
    padding: 0;
}

.et-body-cell{
    padding:0 3px;
    margin: 0;
    white-space: nowrap;
    word-wrap: normal;
    overflow:hidden;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(221, 221, 221, 1);
    text-overflow: ellipsis;
}

.et-body {
    margin:0;
    padding:0;
    overflow-x: auto;
    overflow-y: auto;
    zoom: 1;
}

.et-leftview .et-body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.et-leftview .et-body-inner {
    padding-bottom: 20px;
}

.et-rightview {
    right: 0px;
}

.et-rightview td:last-child .et-body-cell{
    border-width: 0 0 1px 0;
}

/*.et-sort{
    width: 13px;
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle;
}

.et-sort-icon {
    display: inline;
    padding: 0 13px 0 0;
    background: url(./../images/sort_icons.png) no-repeat -64px center;
}

.et-header .asc{
    background: url(./../images/sort_icons.png) no-repeat 0 center;
}

.et-header .desc{
    background: url(./../images/sort_icons.png) no-repeat -16px center;
}

*/



.et-title-cell{
    margin: 0;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(221, 221, 221, 1);
}

.et-title-cell:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /* border: 1px solid red;*/ /* so we can see what's going on */
}

.table-title{
    display: inline-block;
    padding:0 3px;
    vertical-align: middle;
    word-break: break-all;
}

.et-sort-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size:16px;
    width:16px;
    height: 16px;
    overflow: hidden;
}

.et-sort-icon i {

    position: absolute;
    display: block;
    width:16px;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    color: #97a8be;
    transition: color .2s ease-in-out;
}

.et-sort-icon i:first-child {
    top: -3px;
}

.et-sort-icon i:last-child {
    bottom: -1px;
}

.et-header .cursorPointer{
    cursor: pointer;
}

.et-sort-icon .checked{
    color:#48576a;
}


/*
**预留给用户的**
.et-class{}

.et-title-class{}

.et-body-class{}
*/

