@charset "UTF-8";
/* 
主要用于按需引入
*/
/* ve-table */
/* ve-checkbox */
/* ve-radio */
.ve-checkbox {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  position: relative;
}
.ve-checkbox:hover .ve-checkbox-inner {
  border-color: #108ee9;
}
.ve-checkbox-content {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: text-bottom;
}
.ve-checkbox-content:hover .ve-checkbox-inner {
  border-color: #108ee9;
}
.ve-checkbox-content .ve-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
}
.ve-checkbox-content .ve-checkbox-input:focus .ve-checkbox-inner {
  border-color: #108ee9;
}
.ve-checkbox-content .ve-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #abbacc;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.ve-checkbox-content .ve-checkbox-inner:after {
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 2px;
  display: table;
  width: 6px;
  height: 9px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.ve-checkbox .ve-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #108ee9;
  content: "";
  animation-fill-mode: both;
  visibility: hidden;
}
.ve-checkbox .ve-checkbox-checked .ve-checkbox-inner {
  background-color: #108ee9;
  border-color: #108ee9;
}
.ve-checkbox .ve-checkbox-checked .ve-checkbox-inner:after {
  transform: rotate(45deg) scale(1);
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.ve-checkbox .ve-checkbox-indeterminate .ve-checkbox-inner {
  border-color: #d9d9d9;
  position: relative;
  top: 0;
  left: 0;
  direction: ltr;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  transition: all 0.3s;
}
.ve-checkbox .ve-checkbox-indeterminate .ve-checkbox-inner:after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #108ee9;
  border: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: " ";
}
.ve-checkbox .ve-checkbox-indeterminate .ve-checkbox-inner:hover {
  border-color: #108ee9;
}
.ve-checkbox .ve-checkbox-indeterminate.ve-checkbox-disabled .ve-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
}
.ve-checkbox .ve-checkbox-disabled {
  cursor: not-allowed;
}
.ve-checkbox .ve-checkbox-disabled.ve-checkbox-checked .ve-checkbox-inner:after {
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.ve-checkbox .ve-checkbox-disabled .ve-checkbox-input {
  cursor: not-allowed;
}
.ve-checkbox .ve-checkbox-disabled .ve-checkbox-inner {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  border-color: #d9d9d9 !important;
  background-color: #f7f7f7;
}
.ve-checkbox .ve-checkbox-disabled .ve-checkbox-inner:after {
  animation-name: none;
  border-color: #f7f7f7;
}
.ve-checkbox-label {
  margin: 0 6px 0 3px;
}
.ve-radio *,
.ve-radio *:before,
.ve-radio *:after {
  box-sizing: border-box;
}
.ve-radio {
  margin: 0 8px 0 0;
}
.ve-radio,
.ve-radio .ve-radio-container {
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}
.ve-radio .ve-radio-container {
  margin: 0;
  top: -1px;
  line-height: 1;
  vertical-align: sub;
  outline: none;
}
.ve-radio .ve-radio-container .ve-radio-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.ve-radio .ve-radio-container .ve-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  transition: all 0.3s;
}
.ve-radio .ve-radio-container .ve-radio-inner:after {
  position: absolute;
  top: 3px;
  left: 3px;
  display: table;
  width: 8px;
  height: 8px;
  background-color: #108ee9;
  border-top: 0;
  border-left: 0;
  border-radius: 8px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: " ";
}
.ve-radio .ve-radio-container.ve-radio-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #108ee9;
  border-radius: 50%;
  visibility: hidden;
  animation-fill-mode: both;
  content: "";
}
.ve-radio .ve-radio-container.ve-radio-checked .ve-radio-inner {
  border-color: #108ee9;
}
.ve-radio .ve-radio-container.ve-radio-checked .ve-radio-inner:after {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ve-radio .ve-radio-container.ve-radio-disabled .ve-radio-input {
  cursor: not-allowed;
}
.ve-radio .ve-radio-container.ve-radio-disabled .ve-radio-inner {
  background-color: #f5f5f5;
  border-color: #d9d9d9 !important;
  cursor: not-allowed;
}
.ve-radio .ve-radio-container.ve-radio-disabled .ve-radio-inner:after {
  background-color: #00000033;
}
.ve-radio .ve-radio-container.ve-radio-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.ve-radio .ve-radio-label {
  padding: 0 4px;
}
.ve-table *,
.ve-table *:before,
.ve-table *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ve-table table.ve-table-content {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}
.ve-table table.ve-table-content thead.ve-table-header tr.ve-table-header-tr {
  height: 40px;
}
.ve-table table.ve-table-content thead.ve-table-header tr.ve-table-header-tr th.ve-table-header-th {
  background-color: #fafafa;
  padding: 10px;
  font-weight: 500;
  color: #000000d9;
}
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr {
  height: 40px;
}
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-body-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-body-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-body-tr td.ve-table-expand-td,
.ve-table table.ve-table-content tbody.ve-table-body tr.ve-table-expand-tr td.ve-table-expand-td {
  background-color: #fff;
  color: #000000d9;
  padding: 10px;
}
.ve-table table.ve-table-content tfoot tr {
  height: 40px;
}
.ve-table .ve-table-container {
  overflow-y: auto;
  height: 100%;
  /* width: 100%; */
}
.ve-table .ve-table-container .ve-table-content.ve-table-border-x th,
.ve-table .ve-table-container .ve-table-content.ve-table-border-x td {
  border-bottom: 1px solid #eee;
}
.ve-table .ve-table-container .ve-table-content.ve-table-border-y th,
.ve-table .ve-table-container .ve-table-content.ve-table-border-y td {
  border-left: 1px solid #eee;
}
.ve-table .ve-table-container .ve-table-content thead.ve-table-header.ve-table-fixed-header tr th {
  position: sticky;
  z-index: 2;
}
.ve-table .ve-table-container .ve-table-content thead.ve-table-header .ve-table-header-tr .ve-table-header-th.ve-table-fixed-left,
.ve-table .ve-table-container .ve-table-content thead.ve-table-header .ve-table-header-tr .ve-table-header-th.ve-table-fixed-right {
  position: sticky;
  z-index: 3;
}
.ve-table .ve-table-container .ve-table-content thead.ve-table-header .ve-table-header-tr .ve-table-header-th .ve-table-checkbox-wrapper {
  width: 25px;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td.ve-table-fixed-left,
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td.ve-table-fixed-right {
  position: sticky;
  z-index: 2;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td .ve-table-row-expand-icon {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td .ve-table-row-expand-icon .iconfont-vet {
  display: inline-flex;
  font-size: 12px;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td .ve-table-row-expand-icon .iconfont-vet::before {
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td .ve-table-row-expand-icon.ve-table-expand-icon-collapsed .iconfont-vet::before {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.ve-table .ve-table-container .ve-table-content tbody.ve-table-body .ve-table-body-tr .ve-table-body-td .ve-table-checkbox-wrapper {
  width: 25px;
}
.ve-table .ve-table-container.ve-table-border-around {
  border: 1px solid #eee;
}
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-x tbody tr:last-child > td,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-x tfoot tr:last-child > td {
  border-bottom: 0;
}
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y thead tr > td:first-child,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y tbody tr > td:first-child,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y tfoot tr > td:first-child,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y thead tr > th:first-child,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y tbody tr > th:first-child,
.ve-table .ve-table-container.ve-table-border-around .ve-table-content.ve-table-border-y tfoot tr > th:first-child {
  border-left: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.v-pagination {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 4px;
  list-style-type: none;
}
.v-pagination .v-page-total {
  float: left;
  margin: 0 4px;
}
.v-pagination .v-page-select {
  float: left;
  margin: 0 4px;
}
.v-pagination .v-page-pager {
  float: left;
}
.v-pagination .v-page-goto {
  float: left;
  margin: 0 4px;
}
.v-pagination .v-page-goto .v-page-goto-input {
  width: 50px;
  height: 32px;
  padding: 1px 7px;
  display: inline-block;
  border: 1px solid #c8cdd4;
  background-color: #fff;
  background-image: none;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 4px;
}
.v-pagination .v-page-goto .v-page-goto-input:hover {
  border-color: #0092dd;
}
.v-pagination .v-page-li {
  min-width: 32px;
  height: 32px;
  float: left;
  margin-right: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-align: center;
  list-style: none;
  background-color: #fff;
  border: 1px solid #c8cdd4;
  border-radius: 4px;
}
.v-pagination .v-page-li a {
  color: #333;
}
.v-pagination .v-page-li:hover {
  border-color: #0092dd;
}
.v-pagination .v-page-li:hover a {
  color: #0092dd;
}
.v-pagination .v-page-li-active {
  border-color: #0092dd;
  background-color: #0092dd;
}
.v-pagination .v-page-li-active a {
  color: #fff;
}
.v-pagination .v-page-li-active:hover {
  border-color: #0092dd;
  background-color: #0092dd;
}
.v-pagination .v-page-li-active:hover a {
  color: #fff;
}
.v-pagination .v-page-prev i,
.v-pagination .v-page-next i {
  color: #666;
}
.v-pagination .v-page-jump-prev:after,
.v-pagination .v-page-jump-next:after {
  content: "•••";
  display: block;
  letter-spacing: 1px;
  color: #666;
  text-align: center;
}
.v-pagination .v-page-jump-prev i,
.v-pagination .v-page-jump-prev:hover:after,
.v-pagination .v-page-jump-next i,
.v-pagination .v-page-jump-next:hover:after {
  display: none;
}
.v-pagination .v-page-jump-prev:hover i,
.v-pagination .v-page-jump-next:hover i {
  display: inline;
  color: #0092dd;
}
.v-pagination .v-page-disabled {
  cursor: not-allowed;
  border-color: #d7dde4;
}
.v-pagination .v-page-disabled i {
  color: #ccc;
}
.v-pagination .v-page-disabled:hover {
  border-color: #d7dde4;
}
.v-pagination .v-page-disabled:hover i {
  color: #ccc;
  cursor: not-allowed;
}
/*-------------------------分割线-----------------------------------*/
.v-select--large .v-select-selected,
.v-select--large .v-select-items-li {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.v-select--large .v-select-selected-i {
  line-height: 40px !important;
}
.v-select--middle .v-select-selected,
.v-select--middle .v-select-items-li {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}
.v-select--middle .v-select-selected-i {
  line-height: 32px !important;
}
.v-select--small .v-select-selected,
.v-select--small .v-select-items-li {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
}
.v-select--small .v-select-selected-i {
  line-height: 24px !important;
}
.v-select-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  /*    border-radius: 4px;*/
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #1f2d3d;
  display: inline-block;
  font-size: inherit;
  /* height: 36px;*/
  line-height: 1;
  outline: none;
  padding-left: 2px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 80%;
  text-align: left;
}
.v-select-selected-span {
  width: 80%;
  display: block !important;
  /*修复会被别的样式覆盖的问题*/
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2px;
}
.v-select-selected-i {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 120%;
}
.v-table-views *,
.v-table-views *:before,
.v-table-views *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.v-table-views {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 1px solid #dddddd;
  padding: 0;
  background-color: #ffffff;
}
.v-table-footer {
  border-top: 1px solid #dddddd;
}
.v-table-leftview,
.v-table-rightview {
  position: absolute;
  overflow: hidden;
  top: 0px;
}
.v-table-leftview {
  left: 0px;
}
.v-table-header {
  overflow: hidden;
}
.v-table-header {
  background-position: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
}
.v-table-header,
.v-table-toolbar,
.v-table-pager,
.v-table-footer-inner {
  border-color: #dddddd;
}
.v-table-header-inner {
  float: left;
  width: 10000px;
}
.v-table-htable,
.v-table-btable,
.v-table-ftable {
  border-collapse: separate;
}
/*.v-table-btable tr:nth-child(even) {
    background:#f4f4f4;
}*/
.v-table-header td,
.v-table-body td,
.v-table-footer td {
  margin: 0;
  padding: 0;
}
.v-table-body-cell {
  padding: 0 3px;
  margin: 0;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  border-width: 0;
  border-style: solid;
  border-color: #dddddd;
  text-overflow: ellipsis;
}
.v-table-body {
  margin: 0;
  padding: 0;
  zoom: 1;
}
.v-table-rightview .v-table-body,
.v-table-rightview .v-table-footer {
  overflow-x: auto;
  overflow-y: auto;
}
.v-table-leftview .v-table-body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.v-table-leftview .v-table-body-inner {
  /* padding-bottom: 20px;*/
}
.v-table-body-inner-pb {
  padding-bottom: 20px;
}
.v-table-rightview {
  right: 0px;
}
.v-table-title-cell {
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: #dddddd;
}
.v-table-title-cell:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /* border: 1px solid red;*/
  /* so we can see what's going on */
}
.table-title {
  display: inline-block;
  padding: 0 3px;
  vertical-align: middle;
  word-break: break-all;
  overflow: hidden;
  line-height: 1.2em;
}
.v-table-sort-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /*font-size:16px;*/
  width: 16px;
  height: 19px;
  margin-left: -5px;
  overflow: hidden;
  cursor: pointer;
}
.v-table-sort-icon i {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  /*line-height: 12px;*/
  overflow: hidden;
  color: #a6a6a6;
  transition: color 0.2s ease-in-out;
}
.v-table-sort-icon i:first-child {
  top: -5px;
}
.v-table-sort-icon i:last-child {
  bottom: 1px;
}
.v-table-header .cursorPointer {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.vertical-border {
  border-right-width: 1px !important;
}
.horizontal-border {
  border-bottom-width: 1px !important;
}
.v-table-rightview-special-border td:last-child .v-table-body-cell {
  border-right-width: 0 !important;
}
.v-table-dropdown {
  margin-left: -3px !important;
}
.v-table-filter-icon {
  font-size: 14px;
  cursor: pointer;
}
/*没数据时的样式 start*/
.v-table-empty-scroll {
  position: absolute;
  overflow-y: hidden;
  text-align: center;
}
.v-table-empty-content {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
}
.v-table-empty-inner {
  overflow: hidden;
}
/*没数据时的样式 end*/
/*loading start*/
.v-table-loading {
  position: relative;
  display: block;
  z-index: 99999;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.v-table-loading-content {
  z-index: 9999999;
  position: absolute;
  left: 50%;
}
/*loading end*/
/*列拖动线 start*/
.v-table-drag-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 2px dashed #ddd;
  z-index: 10;
}
/*列拖动线 end*/
.v-table-sort-icon .checked {
  color: #48576a;
}
.v-table-filter-icon {
  color: #999;
}
.v-table-filter-icon.checked {
  color: #48576a;
}
/*
**预留给用户的**
.v-table-class{}

.v-table-title-class{}

.v-table-body-class{}

.v-table-footer-class
*/
.v-checkbox-wrapper {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  position: relative;
}
.v-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: text-bottom;
}
.v-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #108ee9;
  content: "";
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden;
}
.v-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  /* width: 100%;
    height: 100%;*/
}
.v-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #abbacc;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.v-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.v-checkbox-checked .v-checkbox-inner:after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: " ";
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.v-checkbox-checked .v-checkbox-inner,
.v-checkbox-indeterminate .v-checkbox-inner {
  background-color: #108ee9;
  border-color: #108ee9;
}
.v-checkbox-input:focus + .v-checkbox-inner,
.v-checkbox-wrapper:hover .v-checkbox-inner,
.v-checkbox:hover .v-checkbox-inner {
  border-color: #108ee9;
}
.v-checkbox-disabled {
  cursor: not-allowed;
}
.v-checkbox-disabled.v-checkbox-checked .v-checkbox-inner:after {
  -webkit-animation-name: none;
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.v-checkbox-disabled .v-checkbox-input {
  cursor: not-allowed;
}
.v-checkbox-disabled .v-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f7f7f7;
}
.v-checkbox-disabled .v-checkbox-inner:after {
  -webkit-animation-name: none;
  animation-name: none;
  border-color: #f7f7f7;
}
.v-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.v-checkbox-indeterminate .v-checkbox-inner:after {
  content: " ";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  position: absolute;
  left: 2px;
  top: 5px;
  width: 8px;
  height: 1px;
}
.v-checkbox-indeterminate.v-checkbox-disabled .v-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
}
.v-select-items-multiple {
  display: table;
  width: 100%;
  padding: 5px;
}
.v-select-items-multiple span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
}
.v-select-items-multiple:hover {
  background-color: #e6f7ff;
}
/*设置尺寸 start*/
.v-dropdown--large .v-dropdown-selected,
.v-dropdown--large .v-dropdown-items-li {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.v-dropdown--large .v-dropdown-selected-i {
  line-height: 40px !important;
}
.v-dropdown--middle .v-dropdown-selected,
.v-dropdown--middle .v-dropdown-items-li {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}
.v-dropdown--middle .v-dropdown-selected-i {
  line-height: 32px !important;
}
.v-dropdown--small .v-dropdown-selected,
.v-dropdown--small .v-dropdown-items-li {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
}
.v-dropdown--small .v-dropdown-selected-i {
  line-height: 24px !important;
}
.v-dropdown {
  display: inline-table;
  margin: 0;
}
.v-dropdown-dd,
.v-dropdown-dt {
  z-index: 9999;
}
.v-dropdown-dd,
.v-dropdown-dt,
.v-dropdown-items {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
.v-dropdown-items {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.v-dropdown a,
.v-dropdown a:visited {
  color: #000;
  text-decoration: none;
  outline: none;
}
.v-dropdown-selected {
  position: relative;
  display: block;
  border: 1px solid #c8cdd4;
  border-radius: 2px;
}
.v-dropdown-selected:hover {
  color: #0092dd;
  border-color: #0092dd;
}
.v-dropdown-selected-span {
  width: 80%;
  display: block !important;
  /*修复会被别的样式覆盖的问题*/
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2px;
}
.v-dropdown-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: none;
  /*    border-radius: 4px;*/
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #1f2d3d;
  display: inline-block;
  font-size: inherit;
  /* height: 36px;*/
  line-height: 1;
  outline: none;
  padding-left: 2px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 80%;
  text-align: left;
}
.v-dropdown-selected-i {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 120%;
}
.v-dropdown-dd {
  position: absolute !important;
  z-index: 9999999;
}
.v-dropdown-items {
  /*position:absolute;*/
  position: fixed;
  top: 2px;
  left: 0px;
  list-style: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border: 1px solid #d1dbe5;
  color: #C5C0B0;
  padding: 5px 0px;
  width: auto;
}
.v-dropdown-items-li {
  white-space: nowrap;
}
.v-dropdown-items-li.active {
  background-color: #0092dd;
}
.v-dropdown-items-li.active a {
  color: #fff;
}
.v-dropdown-items-li-a {
  width: 100%;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
}
.v-dropdown-items-li-a-left {
  text-align: left;
}
.v-dropdown-items-li-a-center {
  text-align: center;
}
.v-dropdown-items-li-a-right {
  text-align: right;
}
.v-dropdown-items-li:hover {
  background-color: #e4e8f1;
  color: #fff;
}
.v-dropdown-items-li.active:hover {
  background-color: #0092dd;
}
/*------------分割线----------*/
.v-dropdown-items-multiple {
  display: table;
  width: 100%;
  padding: 5px;
}
.v-dropdown-items-multiple span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
}
.v-dropdown-items-multiple:hover {
  background-color: #e6f7ff;
}
/*操作功能开始*/
.v-dropdown-operation {
  padding: 8px 0 3px 0;
  font-size: 14px;
  border-top: 1px solid #e8e8e8;
}
.v-dropdown-operation-item {
  padding: 0 8px;
  color: #495060;
}
.v-dropdown-operation-item:last-child {
  float: right;
}
.v-dropdown-operation-item:hover {
  color: #1890ff;
}
/*操作功能结束*/
