body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0;
}

.leftMenu{
    float: left;
    list-style-type: none;
    margin: 0;
    line-height: 1.8em;
}

.container{
    float:left;
}

