
.v-icon-down-dir:before { content: '\e800'; } /* '' */
.v-icon-up-dir:before { content: '\e801'; } /* '' */
.v-icon-cancel:before { content: '\e802'; } /* '' */
.v-icon-spin3:before { content: '\e832'; } /* '' */
.v-icon-spin4:before { content: '\e834'; } /* '' */
.v-icon-spin5:before { content: '\e838'; } /* '' */
.v-icon-filter:before { content: '\f0b0'; } /* '' */
.v-icon-angle-double-left:before { content: '\f100'; } /* '' */
.v-icon-angle-double-right:before { content: '\f101'; } /* '' */
.v-icon-angle-left:before { content: '\f104'; } /* '' */
.v-icon-angle-right:before { content: '\f105'; } /* '' */